@import './#general/reset.css';

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --gray-p: 85, 82, 78;
  --gray: 120, 117, 115;
  --gray2: 167, 166, 164;
  --green: 8, 120, 108;

  --padding: 10.2rem
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(var(--white));
}