@import './general/reset.css';

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --gray-p: 85, 82, 78;
  --gray: 120, 117, 115;
  --gray2: 167, 166, 164;
  --gray-light: 243, 243, 242;
  --green: 8, 120, 108;
  --green-dark: 25, 66, 64;
  --beige: 251, 237, 228;
  --divider: 229, 231, 235;
  --border: 206, 205, 202;
  --input-text: 9, 8, 8;

  --padding: 10.2rem
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(var(--white));
}